<h1>Home#reactdemo</h1>
<p>Find me in app/views/home/reactdemo.html.erb</p>

<div >
  <button type="button" class="btn btn-primary"  disabled >
    Buy
  </button>
</div>
<hr/>
<div id="pinetwork"></div>
<hr/>
